<b><h1>Análise de dado do Inep - IDD</h1></b>

In [7]:
#Imports necessários para o projeto

%matplotlib inline
import pandas as pd

In [21]:
filename = 'dataset/dataset_geral.csv'
df = pd.read_csv(filename, sep=";")

In [26]:
# Mostra as dez primeiras linhas do arquivo lido
df.head(10)

,nu_ano,co_grupo,co_ies,co_categad,co_orgacad,co_munic,co_uf_curso,co_regiao_curso,co_curso,ano_in_grad,...,tp_pres,nt_ger,enem_nt_cn,enem_nt_ch,enem_nt_lc,enem_nt_mt,co_modalidade,IN_REGULAR,TP_INSCRICAO_ADM,ausente da lista 2015
0,2015,2,1,10002,10028,5103403,NaN,NaN,1,2011,...,555,74.8,662.6,708.2,672,866.4,1.0,NaN,NaN,auenste da lista 2014
1,2015,13,1,10002,10028,5103403,NaN,NaN,2,2011,...,555,36.2,533.4,657.2,573.7,636.2,1.0,NaN,NaN,"Ausente da lista 2014,2015,2016"
2,2015,22,1,10002,10028,5103403,NaN,NaN,8,2010,...,555,46.4,654.2,562.7,615.9,686.6,1.0,NaN,NaN,NaN
3,2015,1,1,10002,10028,5103403,NaN,NaN,13,2012,...,555,44.3,500.9,510.2,510.3,508.6,1.0,NaN,NaN,NaN
4,2015,22,1,10002,10028,5107602,NaN,NaN,21,2014,...,555,39.2,438.5,424.8,506,529.7,1.0,NaN,NaN,NaN
5,2015,13,2,10002,10028,5300108,NaN,NaN,122,2010,...,555,36.2,775.3,775.8,752,828.3,1.0,NaN,NaN,NaN
6,2015,81,2,10002,10028,5300108,NaN,NaN,128,2012,...,555,65.3,707,727.5,663.1,814.3,1.0,NaN,NaN,NaN
7,2015,1,2,10002,10028,5300108,NaN,NaN,145,2012,...,555,74,578,663.5,630,636.7,1.0,NaN,NaN,NaN
8,2015,2,2,10002,10028,5300108,NaN,NaN,148,2011,...,555,68.6,677.5,766,677.5,837.5,1.0,NaN,NaN,NaN
9,2015,22,2,10002,10028,5300108,NaN,NaN,149,2012,...,555,45.2,599.5,566,637.6,870.8,1.0,NaN,NaN,NaN

In [27]:
#Mostra quantidade de linhas e colunas

df.shape

(795751, 22)